{% extends 'base.html' %}
{% block content %}
    <h1 style="text-align: center; font-family: cursive;">Neighbourhood App</h1>
    <div class="card" style="align-items: center;">
    <img src="../../media/images/BestNeighbourhoods-1200x628-1537463958.jpeg" width="50%" height="80%">
    <div class="card-body" style="float: right;">
        <form action="/accounts/register/">
            <input type="submit" value="Register" />
        </form>
    </div>

    <div class="card-body" style="float: right;">
        <form action="/accounts/login/">
            <input type="submit" value="Login" />
        </form>
        
    </div>
    </div>
{%endblock%}